.App {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    background-color: #ddd;
  }

.dataCard {
    background-color: #efefef;
    border-radius: 0.5em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1em;
  }
  
  .revenueCard {
    width: 92%;
    height: 20rem;
  }
  
  .customerCard {
    width: 50%;
    height: 20rem;
  }
  
  .categoryCard {
    width: 40%;
    height: 20rem;
  }
  /* UserManagement.css */
.user-management {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
  }
  
  thead {
    background-color: #007bff;
    color: #fff;
  }
  
  thead th {
    padding: 12px 15px;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
  tbody td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  tfoot {
    background-color: #f9f9f9;
  }
  
  tfoot td {
    padding: 12px 15px;
    text-align: left;
    border-top: 1px solid #ddd;
  }
  
  @media (max-width: 768px) {
    table {
      border: 0;
    }
  
    table thead {
      display: none;
    }
  
    table tbody tr {
      display: block;
      margin-bottom: 10px;
      border: 1px solid #ddd;
    }
  
    table tbody td {
      display: block;
      text-align: right;
      font-size: 14px;
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }
  
    table tbody td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
  }

  .contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
  